.bkg{
  align-self: center;
  padding: auto;
  margin: auto;
}

.imgcard {
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
  height: 100vh;
  overflow: hidden;
}

.parentt {
  padding-top: 250px;
  flex: 40%;
}

.title {
  font-weight: bold;
  font-size: 60px;
  color: white;
}

.p {
  margin-top: 20px;
  font-size: 20px;
}
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  justify-content: space-around;
  background-color:#f3f3f3 ;
}

.about img {
  width: 440px;
  height: 370px;
  margin-bottom: 50px;
}

.prdct {
  display: flex;
  align-content: center;
  justify-content: space-between;
  color: #1f2478 !important;
}

.link3 {
  display: inline-block;
  /* width: 20%; */
  text-align: center;
  text-decoration: none;
  color: #fff;
  margin: auto;
  margin-top: 20px;
  padding: 13px 17px;
  border: 0;
  background-color:#72655c;
  border-radius: 6px;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.5s;
  border-radius: 3px;

}

.link3:hover {
  transform: translateY(-10px);
}

.link2 {
  text-decoration: none;
  color: #1f2478;
  margin-top: 5px;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.5s;
}

.link2:hover {
  text-decoration: underline;
  transform: translateY(-10px);
}

.text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.h3text{
  margin-top: 90px;
  font-size: 30px;
}

.textp {
  display: inline-block;
  margin-top: 5px;
  font-size: 20px;
  color: 969696;
}
.whychooseus{
  background-color: #f3f3f3 ;
}
.cardds{
  display: flex;
  justify-content: space-around;
  color: #1f2478;
}
.cardh{
  font-weight: bold;
}
.cardcont{
  width: 22%;
  border-radius: 10px;
  color:#1f2478;
  font-size: 1.1rem;
 
}

@media(max-width: 768px) {
  .parentt {
    padding-top: 110px;

  }

  .imgcard {
    height: 500px;
    ;
  }

  .about {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: auto;
    padding: auto;
    margin-bottom: 30px;
  }

  .about img {
    align-self: center;
  }

  .cardds {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cardcont {
    width: 90%;
    margin-bottom: 30px;
  }
}




/* .link2 {
  text-decoration: none;
  color: aliceblue;
}

.link2:hover {
  color: black;
  border: 2px solid black;
}


.slider {
  width: 50%;
  height: 500px;
  margin-left: 23%;
  margin-bottom: 40px;

}

.images {
  width: 40%;
  height: 400px;
  margin-left: 25%;
  margin-bottom: 50px
}
 */
