.bkg{
  background-color: #FFFBF5;
  align-self: center;
  padding: auto;
  margin: auto;
} 
.imgcard{
background-image: url("../Images/library-6889590_1280.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
text-align: center;
align-items: center;
height: 660px;;
}  
.parentt{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding-top: 250px;

} 
.title {
  font-weight: bold;
  font-size: 60px;
  color: white;
}
.button {
  margin: auto;
  margin-top: 30px;
  padding: 11px 15px;
  border: 0;
  background-color: #1a110bd4;
  border-radius: 30px;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.5s;
}
.button:hover {
  border: 1px solid white;
  background-color: transparent;
}
.button2 {
  margin: auto;
  margin-top: 10px;
  padding: 13px 17px;
  border: 0;
  background-color:#1a110bd4;
  border: 0;
  border-radius: 30px;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.5s;
}
.button2:hover {
  transform: translateY(-10px);
}
.about {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  justify-content: space-around;
}
.about img {
  width: 440px;
  height: 370px;
  margin-bottom: 50px;
}
.link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.link3 {
  text-decoration: none;
  color: #fff;
}
.text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.h3text{
  margin-top: 70px;
  font-weight:900;
  font-size: 30px;
  color: #1A110B;
}
.textp{
  font-size: 16px;
  color: #2e2b29;
}
@media(max-width: 768px) {
  .parentt{
    padding-top: 110px;
  
  } 
  .imgcard{
    height: 500px;;
    }
  .about {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: auto;
    padding: auto;
    margin-bottom: 30px;
  }
  .about img {
    align-self: center;
  }

}




.link2 {
  text-decoration: none;
  color: aliceblue;
}

.link2:hover {
  color: black;
  border: 2px solid black;
}


.slider {
  width: 50%;
  height: 500px;
  margin-left: 23%;
  margin-bottom: 40px;

}

.images {
  width: 40%;
  height: 400px;
  margin-left: 25%;
  margin-bottom: 50px
}

