body {
  overflow-x: hidden;
  color: #1A110B;
}

.flexab {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
  justify-content: center; /* Center items horizontally */
  margin: 20px; /* Add margin for better spacing */
}

.card {
  width: 100%;
  max-width: 400px; /* Limit maximum width */
  margin: 20px;
}

.card p {
  text-align: left;
}

.form-control {
  color: white;
  background-color: #223C60;
  border: 2px solid transparent;
  height: 60px;
  padding-left: 20px;
  vertical-align: middle;
}

.form-control:focus {
  color: white;
  background-color: #0C4160;
  border: 2px solid #2d4dda;
  box-shadow: none;
}

.table-dark {
  background-color: #1a110bd4 !important;
  color: #fff;
  border-color: #4d5154;
}

.flexy {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Allow items to wrap */
  justify-content: center; /* Center items horizontally */
  margin: 60px 0;
}

.image {
  width: 100%;
  max-width: 500px; /* Limit maximum width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px;
  margin-bottom: 30px;
}

.btn1 {
  margin-top: 20px;
  width: 100px;
  height: 40px;
  border: 2px solid #354c5f;
  background-color: #354c5f;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
}

.qtybuton {
  text-align: center;
  width: 30px;
  border: none;
}

.incbutton {
  width: 29px;
  
  background-color: #2c3185;
  color: white;
  border: 0;
  margin: 5px;
  padding: 3px;
  font-weight: 500;
  transition: 0.2s;
}

.incbutton:hover {
  background-color:#1e226c;
}

.delbtn {
  cursor: pointer;
  --bs-btn-close-focus-shadow: none;
}

.imgtable {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}

@media (max-width: 750px) {
  .flexab {
    flex-direction: column;
    align-items: center; /* Center items vertically */
  }

  .image {
    width: 100%;
    max-width: 350px;
    height: auto;
    margin: 20px;
  }

  .card {
    width: 100%;
    max-width: 350px;
    margin: 10px 0;
  }

  .flexy {
    flex-direction: column-reverse;
    align-items: center; /* Center items vertically */
    margin: 20px;
  }

  .bodyforcard {
    margin-left: 50px;
    margin-bottom: 30px;
  }
}

.checkout {
  width: 100%;
  height: 50px;
  font-size: 15px;
  margin-top: 20px;
  background-color: #d18ef4;
  color: azure;
  cursor: pointer;
  border: 0;
  transition: all .2s;
  font-weight: bold;
  text-transform: uppercase;
}

.checkout:hover {
  background-color: #ca6ffb;
}
