body {
  margin: 0;

}
.bg-main{
  background-color: #222671 !important;
}
.bg-gray{
  background-color: #F8F9FA;
}
.text-main{
  color: #222671 !important;
}
.navbar-toggler:focus{
  box-shadow: none !important;
 
}
.navbar-toggler{
  border: none !important;
}
.Navbar_navbartoggler__J56nk{
  background-color: transparent !important;

}
.form-control{
  border: 1px solid rgb(215, 214, 214) !important;

}
.form-control:focus {
  box-shadow: none !important;
  outline: none !important;
  border: 1px solid rgb(215, 214, 214) !important;
}
.form-select{
  box-shadow: none !important;
  outline: none !important;
  border: 1px solid rgb(215, 214, 214) !important;
}