body {
  margin: 0;

}
.bg-main{
  background-color: #222671 !important;
}
.text-main{
  color: #222671 !important;
}
.navbar-toggler:focus{
  box-shadow: none !important;
 
}
.navbar-toggler{
  border: none !important;
  background-color: transparent !important;
}
